<link rel="stylesheet" href="<%=assetPath('css/chat.css')%>">
<div id="chatBlock">
  <div id="chatHead">
    <div>Chat</div>
  </div>
  <div id="innerBlock">
    <div id="innerBlockDiv">
      
   
    </div>
      <form id="chatInp" action="#" >
      
        <input type="text" name="chatText" id="chatText" required placeholder="Please Enter Here">

        <button value="Send">Send</button>
       
        
      </form>
  </div>
</div>
<script src="<%=assetPath('js/chat.js')%>" type="text/javascript" defer> </script>