<link rel="stylesheet" href="/css/chat.css">
<div id="chatBlock">
  <div id="chatHead">
    <div>Chat</div>
  </div>
  <div id="innerBlock">
    <div id="innerBlockDiv">
      <div>Hi there</div>
      <div> Hi Assis Need some help</div>
    </div>
      <form id="chatInp" action="#" >
       <div>
        <input type="text" name="chatText" id="chatText">
       </div>
       <div>
        <button value="Send">Send</button>
       </div>
        
      </form>
  </div>
</div>
<script src="/js/chat.js" type="text/javascript" defer> </script>