<div id='header'>
  <div class='info'>
    <div id='logo'></div>
    <div id='logoName'>Codeial</div> 
  </div>  
 <% if(locals.user){ %>
  <div class='info insideDiv'>
    <div><%=user.name%></div>
    <div><a href="/users/signOut">Sign Out</a></div>
  </div>
 <% } else{ %>
  <div class='info insideDiv'>
    <div><a href="/users/signIn">Sign In</a></div>
    <div><a href="/users/signUp">Sign Up</a></div>
  </div>
  <%}%>
</div>