
  <section>
    <h4>Posts</h4>
    <form action="/post/save" method="POST">
      <textarea name="content" id="" cols="30" rows="3" placeholder="Enter text here"></textarea>
      <input type="submit" value="Post">
    </form>
  </section>
<h2>Your All Posts</h2>

<%for(post of posts){%>
    <div>
      <%=post.content%>
    </div>
    <div>
      <%=post.user.name%>
    </div>
<%}%>  
    


