<link rel="stylesheet" href="/css/user_sign_up.css">
<link rel="stylesheet" href="/css/home.css">
<div class="vertAlign">
  <div id="left">
    <section>
      <h4>How was your Day ? ? Post Something</h4>
      <form class="formStyle" id="new-post-form" action="/post/save" method="POST">
        <textarea name="content"  cols="30" rows="3" placeholder="Enter your posts here" required></textarea>
        <button type="submit" value="Post">Post</button>
      </form>
    </section>
   
  </div>
  
  <div id="center">
    <%if(locals.user){%>  
      <h2>Posts</h2>
      <%}else{%>
        <h2>Welcome to Codeial :)</h2> 
      <%}%>
    <div id='posts-list-container'>
      <ul class="centerList">
        <%for(post of posts){%>
           <%-include('_postCont')%>
        <%}%>
         </ul>
    </div> 
  </div>
   
  <div id="right">
    <h3>Friends</h3>
    <div id="userList">
      <ul >
        <%for(userCurr of userL){%>
           <li>
            <i class="fas fa-solid fa-user"></i>
            <a href="/users/profile/<%=userCurr.id%>"><%=userCurr.name%></a>
           </li>
        <%}%>
      </ul> 
   </div>
  </div>
   
</div>
<script src="/js/home_post_comments.js" type='text/javascript' defer></script>
<script src="/js/home_posts.js" type='text/javascript' defer></script>


