<link rel="stylesheet" href="<%=assetPath('css/user_sign_up.css')%>">

<h2><%=head%></h2>


<form class='dispFlex' action='/users/create-session' method='POST'>
  <div>  
    <input type="email" name='email' required placeholder='Enter Email '>
  </div>
  <div>    
    <input type="password" name='password' required placeholder='Enter Password'>
  </div>
  <button id='buttonAction' >Sign In</button>
  <button id='buttonGoogle'><a href="/users/auth/google">Sign Up/Sign In via Google</a></button>
</form>

