form:hover{
  background:none;
  border:0;
}
#chatBlock{
  width:260px;
  position:fixed;
  bottom: 0px;
  right:0px;
  box-sizing: border-box;
  max-height:400px;
}

#chatHead{
  height:50px;
  background-color:rgb(58, 148, 252);
  color:white;
  font-weight: 400;
  font-size: 1.4rem;
  box-sizing: border-box;
  padding:10px;
  cursor:pointer;
}

#innerBlock{
 background-color: blueviolet;
 position:relative;
 display:none;

}
.toggleClass{
  height:300px;
}

#innerBlockDiv div{
  width:100px;
  margin:5px 5px;
  border :1px solid grey;
  border-radius:5px;
}
 
#innerBlockDiv {
  overflow-y: scroll;
  height:270px;
}
#innerBlockDiv div{
  text-align:left;
}
#innerBlockDiv .selfMessage{
  align-self:flex-end;
  background-color: rgb(246, 222, 179);
}
#innerBlockDiv .otherMessage{
  align-self:flex-start;
  background-color: rgb(179, 235, 246);
}

/* input Text Block */


#chatInp{
  position:fixed;
  width:260px;
  box-sizing:border-box;
  display: flex;
  margin:auto;
  bottom:0px; 
  flex-direction:row;
}


#chatInp input,#chatInp button{
  height: inherit;
  margin-bottom: 0px;
}







/* form input, form button{

} */
#chatInp button{
  width:90px;

  cursor:pointer;
}

