#runTime{
  /* overwriting background effect from layout.css*/
  background : white;
  color:black;
}
.vertAlign{
  display:flex;
  width:100%;
  justify-content: space-around;
}

#left{
   width:30%;
   background-color: white;
}
/* Left side entry Form */
.formStyle textarea,.formStyle button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#center{
  width:40%;
  background-color:rgb(156,153,163);
  text-align: normal;
}
#right{
  width:20%;
}

#center h2{
  text-align: center;
}

h2{
  background:linear-gradient(red,rgb(61, 235, 61),rgb(23,203,203),lightblue);;
  padding:15px;
  box-sizing: border-box;
  color:white;
}

form,textarea,button{
 margin:auto;
 display:block;

} 

/* center Styling */
#center li{
  display:block;
  list-style: none;
  background:white;
  border-bottom: 2px solid grey;
  margin-bottom:4px ; 
  min-height:100px;
  width:300px;
}

/* Stylining Center List  */
.post-list-container ul{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding:0;
}

.postInfo{
  font-size: 1.2rem;
}

button{
  max-width:200px;
}
/* UserSection */
#userList ul{
  padding:0;
  list-style: none;
  display:flex;
  flex-direction:column;
  justify-content: center;
}
#userList li{
  display:block;
  list-style: none;
  height:50px;
  box-sizing:border-box;
  font-size: 1.2rem;
  font-weight:400;
}
#userList a, #userList a:focus, #userList a:active {
  text-decoration: none;
  color: inherit;
  display:block;
}
#userList a:hover{
  border-bottom:2px solid grey;
}